.container {
  height: 100vh;
  max-width: 40em;
  margin: 0 auto;
  &__inner {
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
  }
}

input {
  background-color: #ebebeb;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.message {
  padding: 1rem;
  font-weight: lighter;
}

.message-area {
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  /* for Firefox */
  min-height: 0;
}

.message-row {
  margin: 0.5rem 0px;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}

.message-row:first-child {
  margin-top: auto !important;
}

.message-row:last-child {
  scroll-snap-align: end;
}

.message-row__self {
  flex-direction: row-reverse;
  .message {
    background-color: #0184ff;
    color: #fff;
    border-radius: 15px 5px 0px 15px;
  }
}

.message-row__others {
  flex-direction: row;
  .message {
    background-color: #e5e6eb;
    color: #131313;
    border-radius: 5px 15px 15px 0px;
  }
}

video {
  display: none;
}

.expression-container {
  text-align: center;
  background-color: #ebebeb;
  border-radius: 0 0 15px 15px;
  z-index: 1;
}

.chat-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
  display: inline-block;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
